/* HERO SECTION */
.date {
  color: #686666;
  font-size: 1.5rem;
}

.address {
  color: black;
  font-size: 1.7rem;
}

/* MicroverseLogo */
.m-logo {
  border-bottom: 1px solid #000;
  border-top: 1px solid #e7e7e9;
}

.img-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-detail p {
    text-align: center;
  font-size: 1.8rem;
  padding-bottom: 35px;
}

.img-detail img {
  border: 1px solid #dad4d4;
  width: 30%;
  padding: 25px;
  margin-bottom: 6%;
}

/* CLASSES */
.c-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summit-p {
  text-align: center;
  font-size: 1.6rem;
}

.all-classes {
  display: flex;
}

.img-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 1rem 3rem 7rem;
}

.img-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 7rem 3rem 1rem;
}

.class-img {
  max-width: 100%;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-35deg)
    saturate(600%) contrast(0.8);
}

.class-img:hover {
  filter: none;
}

.class-h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.class-h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* COPYRIGHT */
.footer {
  background-color: #2e2e2e;
}

.footer-p {
  color: #fff;
}
